*

!main.py
!api_server.py
!frontend.py
!train.py
!train_lstm.py
!feature_extractor.py
!lstm_model.py
!lstm_predictor.py
!recognition_rule_based.py


!requirements.txt
!.gitignore
!README.md

!**/ .gitkeep

__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/
build/
dist/
*.egg-info/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.DS_Store
Thumbs.db

/runs/
/training_data/
/temp_videos/
/apex_legends_dataset/
*.pt
*.pth
*.onnx
*.engine
*.npy
*.mp4
*.mov
*.avi
*.mkv
